body {
  // height: auto;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  .list-of-people-container {
    height: auto;
    width: 400px;
    // width: 1fr;
    background-color: rgb(9, 15, 111);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .people-header-wrapper {
      height: 80px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: large;
      color: white;
      border: 1px solid white;
      font-weight: bold;
      overflow-y: scroll;
    }

    .list-of-people {
      overflow-y: auto;
      .user-container {
        width: 300px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        color: white;
        font-weight: bold;
        margin-top: 30px;

        .name-wrapper {
          display: flex;
          justify-content: center;
        }

        .value-tracker-wrapper {
          display: flex;
          justify-content: center;
          margin-top: 10px;

          .increaseBtn {
            margin-left: 5px;
            border: transparent;
            border-radius: 3px;
            background-color: greenyellow;
          }

          .decreaseBtn {
            margin-right: 5px;
            border: transparent;
            border-radius: 3px;
            background-color: red;
          }
        }
      }
    }
  }

  .content-container {
    height: 100vh;
    width: 100%;
    // width: 5fr;
    background-color: rgb(245, 227, 185);
    display: flex;
    flex-direction: column;

    .header-text {
      height: 200px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 4rem;
    }

    .name-spinner {
      height: 380px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 4rem;
      font-weight: bold;
    }

    .go-button-wrapper {
      height: 100px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;

      .spin-button {
        height: 35px;
        width: 200px;
        border: transparent;
        border-radius: 5px;
        background-color: rgb(9, 15, 111);
        color: white;
        font-size: 1rem;
      }

      .spin-button:hover {
        background-color: rgb(51, 94, 187);
        color: white;
        cursor: pointer;
      }
    }
  }
}
