body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body .list-of-people-container {
  height: auto;
  width: 400px;
  background-color: #090f6f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .list-of-people-container .people-header-wrapper {
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: large;
  color: white;
  border: 1px solid white;
  font-weight: bold;
  overflow-y: scroll;
}

body .list-of-people-container .list-of-people {
  overflow-y: auto;
}

body .list-of-people-container .list-of-people .user-container {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

body .list-of-people-container .list-of-people .user-container .name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .list-of-people-container .list-of-people .user-container .value-tracker-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}

body .list-of-people-container .list-of-people .user-container .value-tracker-wrapper .increaseBtn {
  margin-left: 5px;
  border: transparent;
  border-radius: 3px;
  background-color: greenyellow;
}

body .list-of-people-container .list-of-people .user-container .value-tracker-wrapper .decreaseBtn {
  margin-right: 5px;
  border: transparent;
  border-radius: 3px;
  background-color: red;
}

body .content-container {
  height: 100vh;
  width: 100%;
  background-color: #f5e3b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content-container .header-text {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 4rem;
}

body .content-container .name-spinner {
  height: 380px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 4rem;
  font-weight: bold;
}

body .content-container .go-button-wrapper {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

body .content-container .go-button-wrapper .spin-button {
  height: 35px;
  width: 200px;
  border: transparent;
  border-radius: 5px;
  background-color: #090f6f;
  color: white;
  font-size: 1rem;
}

body .content-container .go-button-wrapper .spin-button:hover {
  background-color: #335ebb;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */